      :root {
            --b: white;
            color: white;
            background-color: black;
        }
        a:visited {
            color: #d2d2d2;
        }
        a {
            color: #ff0000;
            font-weight: normal;
        }
        img {
            display: none;
        }
        * {
            font-size: 17px;
            text-decoration: none;
        }
        body {
            margin-top:-22px;
            margin-left: 40px;
        }
        p {
            margin: 0px;
            padding: 0px;
            overflow: hidden;
            white-space: nowrap;
            font-family: ocr a; 
            color:#cbcbcb; 
            text-overflow: ellipsis;
        }
        
        i {
            font-style:normal;
        }
     