@font-face {
    font-family: "euro";
    src: url('https://wrygrinn.net/fonts/Eurosteal.woff');
}

@font-face {
    font-family: "reactor";
    src: url('https://wrygrinn.net/fonts/Reactor7.woff');
}

body {
background-color:#000;
color:#f8f8f8;
height:auto;
margin: 0;
font-family: "reactor" ;
font-size: 15.6px;
letter-spacing: 2px;
padding:0;
}

.fade-in {
	-webkit-animation: fade-in 1s steps(16, end) both;
	        animation: fade-in 1s steps(16, end) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.contents p {
line-height: 20px;
    
}

a {
text-decoration:none;
}

a:hover {
text-decoration:none;
color:#357aa0;
}

a img {
border:0;
}

acronym {
cursor:help;
}



.buttons {
	width: 70%;
    margin-left: 47px;
}
img.centered {
text-align:center;
display:block;
margin:0 auto;
padding:0;
}



h2,h3 {
color:#ff7a57;
display:block;
text-decoration:none;
background-color: 'transparnet';
font-weight: normal;
letter-spacing: 5px;
font-family: "times new roman";
}

h2 {
font-size: 28px;
padding:0.3em 0 0 3em;
}

div.contents ol {
font-size:100%;
line-height:130%;
margin-top:1em;
width:580px;
margin-left:auto;
margin-right:auto;
}

div.contents a {
    color: #f67a7a;
}

div.contents a:hover {
    color: #aca0e7;
}
div.contents ol li {
border:solid 1px #bbb;
background-color:#000;
margin-bottom:10px;
min-height:50px;
padding:10px;
}

div.contents ol li img {
float:right;
padding:8px;
}

div.contents ol.courses {
list-style:none;
border:solid 1px #bbb;
background-color:#000;
padding:0.6em 1em;
}

div.contents ol.courses li {
border:0;
min-height:0;
margin-bottom:0.5em;
padding:0;
}

div.contents ul {
font-size:105%;

line-height:130%;
margin-bottom:0.6em;
padding-right:10px;
width:570px;
margin-left:auto;
margin-right:auto;
}

div.contents ul li {
list-style-type: square;
color: #afafaf;

}

div.contents ul li ul {
font-size:100%;
}

#window {
clear:both;
margin-top:8px;
margin: auto;
width: 65%;
padding:15px;
}

#container {
min-height:500px;
width:740px;
display:block;
text-align:left;
margin:0 auto;
padding:8px;
}

div.main {
clear:both;
width:740px;
margin-left:auto;
margin-right:auto;
margin-top:-1em;
}

div.comment,div.console,div.showcase,div.contact,div.gallery {
width:580px;
margin-left:auto;
margin-right:auto;
margin-bottom:1.4em;
line-height:150%;
padding:0.6em 1em;
}

div.comment {
background-color:#111;
color:#84ea81;
text-align:justify;
border:solid 1px #bbb;
}

div.comment h3 {
font-size:130%;
margin-top:5px;
margin-bottom:10px;
padding:0;
}

div.console {
font-size:90%;
border:solid 1px #999;
background-color:#333;
color:#eee;
font-family:"Andale Mono", Courier, Monospace;
white-space:pre;
padding-bottom:0.6em;
}

div.showcase {
margin-top:20px;
background-color:#fafafa;
color:#000;
text-align:center;
border:solid 1px #bbb;
}

div.showcase img {
padding:2px 15px;
}

div.showcase h2 {
padding:0;
}

div.contact {
width:380px;
margin-top:20px;
padding-left:20px;
padding-right:20px;
background-color:#fafafa;
color:#000;
text-align:left;
border:solid 1px #bbb;
}

div.address {
width:280px;
padding-left:40px;
margin-left:auto;
margin-right:auto;
font-style:italic;
}

div.gallery {
margin-top:20px;
text-align:center;
}

div.gallery img.thumbnail-photo {
background-color:#fafafa;
border:solid 1px #bbb;
margin:2px;
padding:2px;
}

table.statistics {
background-color:#fafafa;
border:solid 1px #bbb;
margin:0.3em auto;
padding:0.4em 1em;
}

table.statistics td {
padding-right:10px;
padding-left:10px;
}

div.navigation {
float:left;
margin-bottom:-2px;
font-family: times new roman;
margin-left:64px;
}

div.navigation ul {
list-style:none;
font-size:69%;
margin:0.5em 0 0;
    
padding:2px 0 0 1em;
}

div.navigation li {
background:url(/abyss/images/navigation_button2.png) 100% -100px;
float:left;
border-bottom:1px solid #bbb;
text-align:center;
margin:0 1px 0 0;
padding:0 5px 0 0;
}

div.navigation li.active {
border-bottom:1px solid #666;
background:url(/abyss/images/navigation_button2.png) 100% 0;
position:relative;
z-index:100;
}

div.navigation li a,div.navigation li a:visited,div.navigation li span {
display:block;
float:left;
text-align:center;
white-space:nowrap;
background:url(/abyss/imagevs/navigation_button2.png) 0 -100px;
text-decoration:none;
min-height:17px;
font-size:9pt;
color:#aaa;
padding:5px 11px 4px 16px;
}

div.navigation li.active a,div.navigation li.active span {
color:#aca0e7;
background:url(/abyss/images/navigation_button2.png) 0 0;
}

div.navigation li:hover {
color: #cd5151;
}

div.navigation li:hover a {
background-position:0 -200px;
color: #cd5151;

}

div.navigation li.active:hover {

background-position:100% 0;
}

div.navigation li.active:hover a {
background-position:0 0;
text-decoration:underline;
}

#copyright {
clear:both;
padding-bottom:1em;
text-align:center;
font-size:small;
color:#aaa;
}

div.outer-prettification {
background:#0d0d0d url(/abyss/images/enclosure/left2.png) left repeat-y;
}

div.inner-prettification {
background:url(/abyss/images/enclosure/right2.png) right repeat-y;
}

div.contents {
padding:0 1em;
}

div.contents p {
font-size:110%;
text-align:justify;
line-height:140%;
margin-top:1em;
width:600px;
margin-left:auto;
margin-right:auto;
}

div.contents p.left {
text-align:left;
font-size:100%;
}

div.contents p.right {
text-align:right;
font-size:100%;
}

div.contents p.caption {
text-align:center;
font-size:100%;
}

div.contents p.footnote {
font-size:100%;
font-style:italic;
}

div.contents p.resume {
font-size:105%;
}

div.contents p img.right {
padding-left:12px;
margin-right:-15px;

position:relative;
z-index:200;
float:right;
}

div.contents p img.left {
padding-right:12px;
margin-left:-15px;
position:relative;
z-index:200;
float:left;
}

div.contents img {
width:auto;
max-width:100%;
height:auto;
}

h1.title,div.title {
background:url(/abyss/images/enclosure/top_left2.png) top left no-repeat;
font-size:220%;
margin:1em 0 0;
}

h1.title a,div.title span {
color:#000;
display:block;
background:url(/abyss/images/enclosure/top_right2.png) top right no-repeat;
font-weight:400;
font-size:80%;
text-decoration:none;
padding:1.2em 1.5em 0 2.6em;
}

div.title span {
display:block;
height:20px;
font-size:80%;
}

div.title {
display:block;
}

div.header {
background:url(/abyss/images/enclosure/top2.png) top repeat-x;
position:relative;
z-index:75;
}

#header h1 {
	margin: 0;
	padding: 17px 8px 0 13px;
	letter-spacing: -0.04em;
	color: #e68282;
}

div.footer {
background:url(/abyss/images/enclosure/bottom2.png) bottom repeat-x;
}

div.footer p {
background:url(/abyss/images/enclosure/bottom_left2.png) bottom left no-repeat;
margin:0;
}

div.footer p a {
display:block;
background:url(/abyss/images/enclosure/bottom_right2.png) bottom right no-repeat;
text-align:right;
font-size:85%;
color:#e68282;
text-decoration:none;
padding:15px 70px 40px 25px;
}

a:link,a:visited {
color:#777;
}

div.comment img,div.contact img {
float:right;
padding:0 8px 8px 20px;
}

/*txt effects*/
@keyframes glow {
130% {
text-shadow: 0 20 15px #d36900;
}

2% {
text-shadow: #ff7a57;
}

63% {
text-shadow: 0 0 15px #ff7a57;
}
}

@-webkit-keyframes glow {
89% {
text-shadow: 0 59 15px #cc0000;
}

35% {
text-shadow: 0 0 16px #cc0000;
}

5% {
text-shadow: 0 0 15px #ff7a57;
}
}

#text2 {
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #000;
font-weight:bold;
-webkit-animation: glow 2.0s linear infinite;
-moz-animation: glow 2.0s linear infinite;
-ms-animation: glow 2.0s linear infinite;
-o-animation: glow 2.0s linear infinite;
animation: glow 2.0s linear infinite;
}

::selection {
    background: #230000;
	color: #f00; }

/** LINKS **/
#links {
    border: 1px dotted #aaa;
     width: 68%;
     border-spacing: 0;
}

#links th {
    color: #968ffd;
}

#links td {
  
    border-bottom: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
    
    padding: 8px;
}

#links th {
    font-size: 19px;
    font-family: Times new roman;
    padding: 4px;
    text-transform: uppercase;
    border-bottom: 2px dotted #bbb;
    border-top: 2px dotted #bbb;
    border-radius: 3px;
    font-weight: bolder;
}

#links td:nth-child(even){
    width: 308px;
    font-size: 15px;
    padding: 6px;
    line-height: 21px;
}

/*graphics margin*/

.graphics {
    width: 81%;
}
